*{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a{
  color: inherit;
  text-decoration: none;
}
/* header */

header{
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
}

#ecran{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu{
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* partie logo */
.logo{
  padding-left: 150px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.textlogo{
  margin-right: 15px;
}
.textlogo h4{
  font-size: 0.8rem;
  text-align: right;
  font-weight: 100;
  letter-spacing: 0.1rem;
}

.textlogo h2{
  font-size: 2rem;
  font-weight: 500;
}

.textlogo h3{
  font-weight: 600;
  text-align: right;
}

/* partie nav bar */

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 150px;
  height: 150px;
}

.nav ul{
  display: flex;
  padding: 20px;
  border-bottom: 1px solid black;

}

.nav ul li a{
  padding: 10px 25px;
}

.nav .contact{
  font-weight: bold;
}
.nav ul .menu_deroulant{
  display: none;
}

/* banniere du site */

#banniere{
  width: 100%;
  height: 72vh;
  background: url("../asset/img/photo-bandeau.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: initial;

  display: flex;
  align-items: center;
  justify-content: center;
}

.devis{
  width: 80%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.devis h2{
  font-size: 2.5rem;
  margin-bottom: 100px;
  font-family: serif;
}

.devis form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.devis .form{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 30px;
}

.devis .form div{
  display: flex;
  flex-direction: column;
}

.devis .form div label{
  font-weight: bold;
}

.devis .form div input{
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
}

.devis form button{
  background-color: #ef8829;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
}

main{
  width: 100%;
  height: 100vh;
  padding: 100px;
}

.image{
  width: 500px;
  height: auto;
  position: relative;
}

main img{
  width: 500px;
  height: auto;
  z-index: 100;
  position: relative;
  top: -20px;
  left: -20px;
}


main .image::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  left: 5%;
  top: 50px;
  z-index: 1;

}